.width{
    width: auto;
    height: 107px;
    background-color: black;
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin: 0 30px;
        .main-menu{
            ul{
               display: flex;
               align-items: center;
               justify-content: center;
            }
        }
    }

}
.width{
    .navbar{
        .main-menu{
            ul{
                .menu{
                    font-size: 16px;
                    font-family: 'Jura', sans-serif;
                    i{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
.navbar-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    .menu{
        padding: 40px 22px;
        a{
            font-size: 16px;
            color: white;
        }
    }
    .navbar-icons{
        a{
            font-size: 13px;
            padding-left: 15px;
            color: white;
        }
    }
}
.navbar{
    .main-menu{
        .menu{
            a{
                &:hover {
                    color: #9F7A49;
                }
            }
            
        }
    }
}
.navbar-icons {
    .language{
        font-size: medium;
    }
    a {
      &:hover {
        color: #9F7A49;
      }
    }
}

.navbar {
    .main-menu {
      ul {
        display: flex;
        flex-direction: row;
        li {
          position: relative;
          .dropdown-menu{
            a {
                text-decoration: none;
                position: relative;
                display: block;
                color: #fff;
              }
          }
          
  
          ul.dropdown-menu-list {
            position: absolute;
            transform: translateX(-41%);
            z-index: 999;
            display: none;
            width: auto;
            padding: 0 40px;
            height: 504px;
            background-color: white;
  
            li {
              width: 200px;
              margin-right: 20px;
              margin-bottom: 20px;
              div {
                display: flex;
                flex-direction: column;
  
                a {
                  img {
                    width: 100%;
                    height: 250px;
                  }
                }
  
                a, span {
                  color: white;
                }
              }
            }
            li:last-child {
              margin-right: 0;
            }
          }
        }
  
        li:hover {
          ul.dropdown-menu-list {
            display: flex;
          }
        }
      }
    }
}

.navbar{
    .main-menu{
        .menu{
            .dropdown-menu-list{
                .list-price{
                    background-color: black;
                    width: auto;
                    height: 70px;
                }
            }
        }
    }
}

.navbar{
    .main-menu{
        .menu{
            .sub-menu-block-2{
                ul.dropdown li{
                    display: block;
                }
                ul.dropdown{
                    width: 100%;
                    background-color: black;
                    position: absolute;
                    z-index: 999;
                    display: none;
                }
                a{
                    &:hover{
                        background-color: black;
                    }
                }
                &:hover{
                    ul.dropdown{
                        display: block;
                    }
                }
            }
        }
    }
}



