@import "header.scss";
@import "footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --font-heading-family: "Tajawal", sans-serif;
    --font-body-family: "Jura", sans-serif;
    --color-base-outline-button-labels: 159, 122, 73;
    --gradient-base-accent-3: #ffffff;
    --gradient-base-background-1: #ffffff;
}

ul li {
    list-style: none;
}

#Collection {
    margin-bottom: 50px;
}

.breadcrumb {
    background-color: #f5f5f5;
    padding: 60px 0 60px 0 !important;
}

.collection {
    font-family: var(--font-heading-family);
    font-size: 36px;
    margin: 0;
}

.breadcrumb-body {
    font-family: var(--font-body-family);
    font-size: 16px;
}

/* Product start */

#Product {
    padding-top: 50px;
}

/* Filter start */

.header__fillter {
    background-color: #f5f5f5;
    font-size: 20px;
    font-family: var(--font-heading-family);
    font-weight: 700;
    border-left: 5px solid rgb(var(--color-base-outline-button-labels));
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}

.filter__dropdown {
    position: relative;
}

.filter__dropdown-content {
    display: none;
    z-index: 1;
    font-family: var(--font-body-family);
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;

    span {
        padding: 0 0 5px 0;
    }
}

.filter__dropdown.active {
    .filter__dropdown-content {
        display: block;
    }

    .chevron-down {
        transform: rotate(180deg);
    }
}

.input__number input[type="number"] {
    border: transparent;
    border-bottom: 1px solid;
    width: 135px;
    outline: none;
    padding: 15px;
    font-size: 18px;
    color: #cfcfcf;
    font-weight: 300;
    font-family: var(--font-body-family);
}

.color__items {
    min-width: 30px;
    min-height: 30px;
    display: block;
    border: 0.2px solid;
    padding: 5px;
    box-shadow: 0 0 1px 1px var(--gradient-base-accent-3), inset 0 0 1px 1px var(--gradient-base-background-1);
}

.color__black {
    background-color: black;
    margin: 5px;
}

.color__pink {
    background-color: pink;
    margin: 5px;
}

.color__red {
    background-color: rebeccapurple;
    margin: 5px;
}

.color__white {
    background-color: white;
    margin: 5px;
}

.color__yellow {
    background-color: #dcdb78;
    margin: 5px;
}

.custom {
    margin: 30px 0 10px 0 !important;
}

.custom-menu {
    font-family: var(--font-heading-family);
    font-size: 24px;
    display: block;
}

.custom-menu-items {
    li {
        font-family: var(--font-body-family);
        font-size: 16px;
        margin: 0 30px 0 0;
        padding: 5px 0;
    }

    list-style-type: none;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

#menuItems li {
    a {
        display: block;
    }

    span {
        display: flex;
        justify-content: space-between;
    }
}

.custom-menu-items {
    &.show {
        max-height: 200px;
    }

    li {
        list-style-type: none;
        display: block;

        a {
            color: black;
        }
    }
}

#menuItems li span {
    .plus {
        font-size: 18px;
        cursor: pointer;
    }

    .minus {
        font-size: 18px;
        cursor: pointer;
        display: none;
    }
}

.submenu ul {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    &.show {
        max-height: 200px;
    }

    li {
        display: block;
        margin-bottom: 5px;
    }
}

#submenuItems li a {
    color: #cfcfcf;
    font-size: 15px;

    &:hover {
        color: #9f7a49;
    }
}

#menuItems li a:hover {
    color: #9f7a49;
}

/* filter end */

/* product start */

/* Sort Filter Start*/

.sort-filter {
    border: 1px solid #9f7a49;
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sort-filter-product {
    font-size: 18px;
    font-family: var(--font-body-family);
}

.sort-fillter-dropdown-container {
    position: relative;
    display: inline-flex;
    background-color: #9f7a49;
    padding: 15px 40px;
    color: white;
}

.sort-fillter-dropdown-content {
    display: none;
    left: -10px;
    top: 70px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sort-fillter-dropdown-container:focus .sort-fillter-dropdown-content {
    display: block;
}

.sort-fillter-dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
    width: 240px;
    font-family: var(--font-body-family);
    font-size: 15px;
    font-weight: 700;

    &:hover {
        background-color: #f1f1f1;
    }
}

/* Sort Filter End */

.card-media {
    position: relative;
    cursor: pointer;
    height: auto;

    margin-bottom: 30px;

    img {
        max-width: 100%;
        height: auto;
        display: block;
        transition: transform 0.9s;

    }

    .hover-image {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:hover {
        .original-image {
            opacity: 0;
        }

        .hover-image,
        .cart-media-title {
            opacity: 1;
            color: #9f7a49;
        }
    }
}

.card-media-icon {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 20%;
    opacity: 0;
    transition: opacity 0.9s, transform 0.9s;
}

.media-items {
    display: flex;

    li {
        padding: 10px;
    }
}

.card-media:hover .card-media-icon {
    opacity: 1;
}

.cart-media-title {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    transition: 0.8s;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.st-ic {
    width: 17px;
}


.best-seller {
    font-family: var(--font-heading-family);
    font-size: 24px;
    display: block;
    margin: 0 30px 0 0;
}

.wrapper {
    width: 100%;
}

@media (max-width: 767px) {
    .wrapper {
        padding: 50px 10px;
    }
}

.slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;

    .slick-arrow {
        position: absolute;
        top: 50%;
        margin: -30px 0px 0px 0px;
        z-index: 10;
        font-size: 0;
        width: 30px;
        height: 60px;

        &.slick-disabled {
            opacity: 0.2;
        }
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;
            margin: 0px 10px;
        }

        button {
            font-size: 0;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 50%;
        }

        li.slick-active button {
            background-color: transparent;
            border: 1px solid #fff;
        }
    }
}

@media (max-width: 767px) {
    .slider {
        padding: 0px 40px;
    }
}

.slider__item {
    padding: 0px 15px;

    img {
        max-width: 100%;
    }
}

.product--slider-title-item {
    text-align: center;
}

.product--slider-title {
    display: block;
    font-size: 19px;
    font-weight: 500;
    font-family: var(--font-heading-family);
}

.product--slider-title-price {
    color: #cfcfcf;
}
